.ism-slider > ol, .ism-slider > ol > li, .ism-slider > ol > li > img{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ism-slider{
    overflow: hidden;
    position: relative;
    padding: 0 !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* Empêche l'utilisateur de selectionner du texte */
    cursor: default;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-animation: ism-fadein 3s;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    /* La propriété background-clip définit la façon dont l'arrièr-plan d'un élément (que ce soit l'image ou la couleur) s'étend sous la boite de bordure, la  boite de remplissage (padding) ou la boite de contenu */
}

@-webkit-keyframes ism-fadin{
    from{ opacity: 0;}
    to{ opacity: 1;}
}

@-webkit-keyframes ism-loading{
    50% { Left: 120px}
}

.ism-slider .ism-slides{
    list-style: none;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
}

.ism-slider li.ism-slide{
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d5d5d5;
    text-align: center;
}

.ism-slider .ism-img-frame{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ism-slider a.ism-image-link{
    position: absolute;
    color: inherit;
    /* inherit le mot-clé inherit est une valeur qui peut être utilisée pour qu'une propriété prenne la valeur calculée de la propriété pour l'élément parent. */
    text-decoration: none;
    display: block;
}
