.clear{
    clear: both;
}

body{
    font-family: sans-serif;
}

header{
    width: 100%;
    background-color: #f8f8f8;
    color: #333;
}

header a{
    text-decoration: none;
    font-weight: bold;
}

.top-bar{
    width: 100%;
    height: 30px;
    background: #555;
    display: flex;
    justify-content: space-between;
}

.top-bar p{
    display: block;
    float: left;
    font-size: 12px;
    line-height: 30px;
}

.top-bar p:first-of-type{
    margin-left: 10%;
}

.top-bar p:last-of-type{
    margin-right: 10%;
}

.top-bar i{
    text-shadow: 0 2px 3px #222;
}

.top-bar em{
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

.top-bar a{
    color: #efefef;
}

.center{
    clear: both;
}

.logo, .outils{
    height: 100px;
    margin: 20px 10%;
}

.logo{
    float: left;
    cursor: pointer;
    color: #333;
}

.logo p{
    text-align: center;
}

.logo p em{
    font-style: italic;
    font-size: 14px;
}

.outils{
    float: right;
}

.outils a{
    color: #333;
}

.outils .iconG{
    float: left;
}

.outils .iconD{
    float: right;
    margin-left: 50px;
}

.panier{
    width: 45px;
}

.outils .iconG div{
    float: right;
    margin: 5px;
}

.outils .titre a{
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.outils .desc a{
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

.outils hr{
    clear: both;
    border: none;
    border-bottom: 1px solid #eee;
}

nav{
    clear: both;
    width: 86%;
}

nav ul{
    background: linear-gradient(to bottom, #fafafa, #ececec);
    box-shadow: 0 -1px 2px #ddd;
    height: 32px;
    padding: 0 10%;
    width: 100%;
    margin: auto;
}

nav ul li{
    float: left;
    width: calc(calc(100% - 1px) / 11); 
    /* La fonction calc() peut être utilisée à n'importe quel endroit ou une <lenght> <angle>... */
    /* exemple => J'ai une mise en page à 11 colonnes qui devrait remplir tout l'écran, donc sur mes colonnes, 
    j'utilise: width: calc(100% / 11)
    /* Disons par exemple que mon écran mesure 1024px de large, 1024 / 11 = 93 */
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    padding: 0px 0;
    border-left: 1px solid #ddd;
}

nav ul li form{
    width: 100%;
    float: right;
}

nav ul li:last-of-type{
    width: 17%;
}

nav form input{
    float: left;
}

nav ul li:first-of-type{
    border: 0;
}

nav li i{
    padding: 3px 0;
}

nav form{
    text-align: left;
    padding: 3px 0;
}

nav form input, nav form button{
    display: block;
    float: left;
}

nav form input{
    padding: 3px 10px;
    border: none;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 1px 0 0 1px;
    font-style: italic;
    color: #888;
}

nav form button{
    height: 26px;
    border-radius: 0 2px 2px 0;
    border: none;
    background: linear-gradient(#909090, #757575);
}

nav form button i{
    color: #fff;
}

nav ul li{
    color: #2a2a2a;
}

.principal{
    clear: both;
    margin-bottom: 50px;
}

.c-container{
    width: 80%;
    padding: 20px 0;
    margin: auto;
}

.carousel{
    width: calc(75% - 30px);
    height: 590px;
    background: #000;
    float: left;
}

.ism-slider{
    height: 100% !important;
}

.ism-slider img{
    height: 100% !important;
}

.ism-slider .ism-caption{
    bottom: 0% !important;
    height: auto !important;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    padding-left: 2%;
}

.c-prod{
    width: 52%;
    margin: 0 0 30px;
    height: 280px;
    background: #444;
    float: right;
    position: relative;
}

.c-prod .st{
    background-image: url(../img/carrelage3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.c-prod .nd{
    background-image: url(../img/carrelage13.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.c-prod span{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #f62775;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.d-i-container{
    clear: both;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

.doubleContainer.doubleLine span{
    line-height: 25px;
    float: right;
    width: calc(100% / 60px);
    display: block;
}

.i-container{
    position: relative;
    width: 300px;
    margin: 1rem 5rem 1rem 0;
}

.i-container img{
    float: left;
}

.i-container span{
    height: 50px;
    line-height: 50px;
    color: #555;
    font-size: 14px;
    padding-left: 10px;
    text-transform: uppercase;
}

.i-container .Last{
    transform: translate(0, 20px);
}

